/************************ NAVBAR *********************/
.logolink{
    max-width: 50%;
}
.logo{
    width: 40%;
}
.colorbande{
    background-color: #FD2D01;
    
}
nav a.nav-link{
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
    color: white !important;
}

nav ul li{
    text-transform: uppercase;
    
}

.btn {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border-color:white !important; 
}
.btnNavbar:hover{
    color:  #112442!important;
    background-color: white !important;
    border-color:white !important;
}
.linkprofil{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    padding-right: 50px;
}